{% extends 'tickets/base.html' %}

{% block content %}
<form method="get" class="row align-items-end g-2 mb-4">
    <div class="row g-2">
        <div class="col-md-1">
            <select name="genre" id="genre" class="form-select" onchange="this.form.submit()">
                <option disabled {% if not selected_genre or selected_genre == "All" %}selected{% endif %}>Genre</option>
                <option {% if selected_genre == "All" %}selected{% endif %}>All</option>
                <option {% if selected_genre == "Action" %}selected{% endif %}>Action</option>
                <option {% if selected_genre == "Animation" %}selected{% endif %}>Animation</option>
                <option {% if selected_genre == "Biography" %}selected{% endif %}>Biography</option>
                <option {% if selected_genre == "Drama" %}selected{% endif %}>Drama</option>
                <option {% if selected_genre == "Horror" %}selected{% endif %}>Horror</option>
                <option {% if selected_genre == "Thriller" %}selected{% endif %}>Thriller</option>
            </select>
        </div>
        <div class="col-md-1">
            <select name="format" id="format" class="form-select" onchange="this.form.submit()">
                <option disabled {% if not selected_format or selected_format == "All" %}selected{% endif %}>Format</option>
                <option {% if selected_format == "All" %}selected{% endif %}>All</option>
                <option {% if selected_format == "2D" %}selected{% endif %}>2D</option>
                <option {% if selected_format == "3D" %}selected{% endif %}>3D</option>
            </select>
        </div>
        <div class="col-md-1">
            <select name="language" id="language" class="form-select" onchange="this.form.submit()">
                <option disabled {% if not selected_language or selected_language == "All" %}selected{% endif %}>Language</option>
                <option {% if selected_language == "All" %}selected{% endif %}>All</option>
                <option {% if selected_language == "Chinese" %}selected{% endif %}>Chinese</option>
                <option {% if selected_language == "English" %}selected{% endif %}>English</option>
                <option {% if selected_language == "Hindi" %}selected{% endif %}>Hindi</option>
                <option {% if selected_language == "Sinhala" %}selected{% endif %}>Sinhala</option>
                <option {% if selected_language == "Tamil" %}selected{% endif %}>Tamil</option>
            </select>
        </div>
    </div>
    <div class="col-md-3 d-flex gap-2">
        {% if selected_genre != "All" or selected_format != "All" or selected_language != "All" %}
             <a href="{% url 'home' %}" class="btn btn-secondary">Reset</a>
        {% endif %}
    </div>
</form>

<div class="py-4">
    <h1 class="text-center mb-4">Now Showing</h1>
    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card movie-card shadow">
                {% if movie.poster %}
                <img src="{{ movie.poster.url }}" class="card-img-top movie-poster" alt="{{ movie.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text text-muted">
                        {{ movie.formatted_duration }}  | Rating: {{ movie.rating }} | {{ movie.language }}
                    </p>
                    <p class="card-text">{{ movie.description|truncatechars:100 }}</p>
                    <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">Book Tickets</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}